:root {
  font-size: 62.5%;
  height: 100%;
  body {
    margin: 0;
    height: 100%;
    font-family: "Roboto Mono", "Courier New", Courier, monospace;
    font-size: 2.5rem;
  }
  body:before {
    content: "";
    position: fixed;
    left: -10px;
    right: 0;
    z-index: -1;
    padding: 10px;

    display: block;
    background-image: url("../images/bkmile_thumb.jpg");
    background-color: #999;
    background-size: cover;
    background-position-x: center;
    width: 100%;
    height: 100%;

    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(7px);
  }
}

header {
  cursor: pointer;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  height: 40px;
  position: fixed;
  z-index: 1;
  top: 0px;
  background: rgba(255, 255, 255, 0.85);
  // background: white;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  > div {
    width: 33.3333333vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(0, 0, 0, 0.6);
    transition: all 250ms cubic-bezier(0.23, 1, 0.32, 1);
    h2 {
      margin: 0;
      font-size: 2rem;
      font-weight: lighter;
    }
    .selection-indicator {
      background: skyblue;
      width: calc(33vw * 0.8);
      height: 2px;
      position: absolute;
      transition: all 250ms cubic-bezier(0.23, 1, 0.32, 1);
      transform: translateY(21px);
      opacity: 0;
    }
  }
  > div:hover {
    background: rgba(1, 135, 134, 0.09);
  }
  > div.selected {
    color: rgba(1, 135, 134, 1);
    // background: rgba(1, 135, 134, .14);
    > .selection-indicator {
      transform: translateY(14px);
      opacity: 1;
      background: rgba(1, 135, 134, 1);
    }
  }
}

#space {
  height: 40px;
}

main {
  height: calc(100% - 40px);
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  overflow-x: scroll;
  display: flex;
  section {
    width: 100vw;
    box-sizing: border-box;
    padding: 30px;
    scroll-snap-align: start;
    scroll-snap-stop: normal;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    .pace {
      display: flex;
      span {
        align-self: center;
      }
    }
  }
  .computed {
    font-size: 5rem;
    font-family: "Roboto Mono", "Courier New", Courier, monospace;
    color: white;
    text-shadow: 1px 1px 2px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    span {
      text-align: center;
    }
  }
}

input {
  text-align: center;
  font-family: "Roboto Mono", "Courier New", Courier, monospace;
  padding: 0.4rem;
  font-size: 2.5rem;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
select {
  text-align: center;
  font-family: "Roboto Mono", "Courier New", Courier, monospace;
  padding: 1rem;
  font-size: 2rem;
  background-color: white;
  border: none;
}
form {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  margin-bottom: 4.8rem;
  button {
    align-self: center;
    font-size: 1.6rem;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    border-radius: 4px;
    border: none;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1.75;
    background: rgb(1, 168, 168);
    padding: 6px 16px;
    color: white;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),
      0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
      border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    outline: none;
  }
  button:hover {
    background: rgba(1, 135, 134, 1);
  }
  button:active {
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
      0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
}
form > div {
  margin-bottom: 24px;
  span {
    color: white;
    text-shadow: 1px 1px 2px black;
    padding: 0 0.4rem;
  }
}
form .distance {
  margin-bottom: 24px;
  .event {
    display: block;
    margin: 0;
    margin-bottom: 8px;
  }
  .input {
    width: 50%;
  }
}
.distance-and-units {
  display: inline-flex;
  input {
    width: 70%;
    margin-right: 1.6rem;
  }
}
input:disabled {
  background-color: red;
}
